.intro {
  font-style: oblique;
  text-align: center;
}
.intro h2 {
  color:blue;
  font-size:90%;
}
.intro p {
  color:#777;
}
.intro img {
  border-radius:30px;
}
.intro * span, .test  {
  font-weight: bold;
  font-style: italic;
  color: red;
}
.highlight {
  border:10px solid blue;
  border-radius: 10px;
  background: rgba(255,255,0,.5);
}
